.loginFormContainer {
    display: inline-block;
    max-width: 500px;
    max-height: 500px;
    border: 1px solid aquamarine;
    border-radius: 5px;
    padding: 10px;
    background-color: teal;
}

.loginForm {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    justify-content: center;
    line-height: 50px;
}

.loginForm input {
    border: 3px solid #ccc;
    border-radius: 3px;
    height: 35px;
    width: 300px;
    display: block;
}

.signInButton {
    align-self: center;
    font-size: 25px;
    padding: 7px;
    margin-top: 15px;
    color: teal;
    height: fit-content;
    width: fit-content;
}
