.post {
    max-height: 400px;
    max-width: 500px;
    box-shadow: 0 0 10px 3px #ddd;
    border-radius: 2px;
}

.post:hover {
    box-shadow: 0 0 20px 5px #9f9f9f;
}

.postTitle {
    text-align: center;
}

.postContent {
    text-align: center;
}

.postCreatedAt {
    text-align: center;
}

.postImage {

}
