.header {
    margin: 3px;
    box-shadow: 1px 1px 10px 3px #8EE9EC;
}

.menu {
    padding: 20px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.menuItem {
    color: #8EE9EC;
    transition: .3s;
}

.menuItem:hover {
    color: #53D58E;
}

.menuItem:last-child {
    margin-left: auto;
    margin-right: 30px;
    color: #E48080;
    cursor: pointer;
}

.menuItem:last-child:hover {
    color: red;
}
